:root {
  --primary-color: rgb(61, 58, 41);
  --secondary-color: rgb(102, 93, 35);
  --terciary-color: white;
  --bg-color: white;
  --bg-section: #ebeacd;
  --bg-footer: rgb(53, 50, 34);
  --header-height: 115px;
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background-color: var(--bg-color);

}

.container {
  max-width: 1300px;
  margin: 0 auto;

}

img {
  display: block;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/*Header*/
header {
  width: 100%;
  height: var(--header-height);

  background-color: var(--bg-color);
  padding: 15px;
}

.header-items {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}


.logo img {
  width: 70px;
  height: 70px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--secondary-color);
}

.menu {
  display: none;
}

/*Hero*/
.hero {
  min-height: 80vh;

  background-image:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url(img/risotto-pasta.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bg-color);

  background-attachment: fixed;
  padding: 50px 15px;


}

.hero .hero-content {
  width: 80%;
  max-width: 1300px;

}

.hero h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

/*Dishes*/
.our-dishes {
  background-color: var(--bg-section);
  padding: 30px 0;
}

.dishes-list {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}

.dish1 {
  position: relative;
  min-height: 275px;
  flex-basis: 85%;
  flex-grow: 3;
}

.dish2,
.dish3,
.dish4,
.dish5 {
  min-height: 120px;
  flex-grow: 1;
  position: relative;
  flex-basis: 50%;
}

.dish1 .name,
.dish2 .name,
.dish3 .name,
.dish4 .name,
.dish5 .name {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--terciary-color);

}

.dish1 .name {
  font-size: 2rem;
}

.dish1 img,
.dish2 img,
.dish3 img,
.dish4 img,
.dish5 img {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
  overflow: hidden;
}

.dish {
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bg-color);
  border: 0.5px solid var(--terciary-color);
  margin: 0;
  overflow: hidden;
  padding: 15px;
}


.dishes {
  display: flex;
  flex-direction: column;

}

.dishes h2 {
  padding: 0 15px;
}

.small-dishes {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.small {
  min-height: 150px;
  padding: 20px;
  flex-basis: 100%;
  flex-grow: 1;
}

.small .name {
  font-size: 1.35rem;
}

.dish .name a {
  text-decoration: none;
  color: var(--terciary-color);
  transition: color 0.3s ease;
}

.dish .name a:visited,
.dish .name a:hover,
.dish .name a:active,
.dish .name a:focus,
.dish .name a:link {
  color: var(--terciary-color);
}

.dish1:hover img,
.dish2:hover img,
.dish3:hover img,
.dish4:hover img,
.dish5:hover img {
  transform: scale(1.1);
  overflow: hidden;
}

.dish1:hover div.name {
  font-size: 2.5rem;
}

.dish2:hover .name,
.dish3:hover .name,
.dish4:hover .name,
.dish5:hover .name {
  font-size: 2rem;
}

/*Footer*/
footer {
  background-color: var(--bg-footer);
  color: var(--terciary-color);
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 2px -8px 100px 3px var(--terciary-color);
}


@media screen and (min-width: 480px) {
  .logo img {
    width: 70px;
    height: 70px;
  }

  .menu {
    display: block;
  }

  .our-dishes {
    padding: 30px 0;
  }

  .dishes-list {
    display: flex;
    flex-direction: column;
  }

  .dish1 {
    min-width: 360px;
    min-height: 250px;
    padding: 20px;
    flex-basis: 100%;
  }

  .dish1 .name {
    font-size: 3rem;
  }

  .small {
    min-height: 180px;
    padding: 20px;
    flex-basis: 50%;
  }

  .small .name {
    font-size: 1.5rem;
  }

  .small-dishes {
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
  }

  .dish1:hover div.name {
    font-size: 3.5rem;
  }

  .dish2:hover .name,
  .dish3:hover .name,
  .dish4:hover .name,
  .dish5:hover .name {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 860px) {
  .logo img {
    width: 100px;
    height: 100px;
  }

  .our-dishes {
    padding: 50px 0;
  }

  .dishes-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .dish1 {
    flex-basis: 50%;
    min-width: 460px;
    min-height: 700px;
    padding: 40px;
  }

  .dish1 .name {
    font-size: 3rem;
    ;
  }

  .small {
    min-height: 230px;
    padding: 20px;
    flex-basis: 50%;

  }

  .small .name {
    font-size: 1.75rem;
  }

  .small-dishes {
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;

  }


  .dishes {
    max-width: 1300px;
    width: 100%;
  }

  .dish1:hover div.name {
    font-size: 4rem;
  }

  .dish2:hover .name,
  .dish3:hover .name,
  .dish4:hover .name,
  .dish5:hover .name {
    font-size: 2.5rem;
  }
}
