:root {
  --primary-color: rgb(61, 58, 41);
  --secondary-color: rgb(102, 93, 35);
  --terciary-color: white;
  --bg-color: white;
  --bg-section: #ebeacd;
  --bg-footer: rgb(53, 50, 34);
  --header-height: 115px;
}

/*Hero*/
.hero {
  min-height: 30vh;

  background-image:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url(img/main-shrimp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bg-color);

  background-attachment: fixed;
  padding: 50px 15px;
  background-position: center;

}

.hero .hero-content {
  width: 80%;
  max-width: 1300px;

}

.hero h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}


/*********
Filter

*********/
.filter {
  padding: 20px;
  display: flex;
  /* justify-items: flex-end;
   flex-direction: row;
   align-items: baseline; */
  justify-content: center;
}

.filter ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  justify-self: center;
}

.filter a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  transition: color 0.3s ease;
}

.filter a:hover {
  color: var(--secondary-color);
}





/******
Dish card
******/
.dishes {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.dish-card {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary-color);
  padding: 20px;
  max-width: 500px;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 25px rgb(196, 182, 182);
}

.price-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

}

.title h3:after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-image: linear-gradient(to right, rgb(182, 79, 79), var(--primary-color), rgb(182, 79, 79));

  justify-self: center;
}



.title h3,
.title div {
  display: inline;
}
