:root {
  --primary-color: rgb(61, 58, 41);
  --secondary-color: rgb(102, 93, 35);
  --terciary-color: silver;
  --bg-color: white;
  --bg-section: #ebeacd;
  --bg-footer: rgb(53, 50, 34);
  --header-height: 115px;
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background-color: var(--bg-color);

}

.container {
  max-width: 1300px;
  margin: 0 auto;

}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/*Header*/
header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--bg-color);
  
  padding: 15px;
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.logo img {
  width: 70px;
  height: 70px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--secondary-color);


}

.menu {
  display: none;

}

/*Hero*/
.hero {

  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url(img/risotto-pasta.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bg-color);
  min-height: 400px;
  background-attachment: fixed;

}

.hero .hero-content {
  width: 80%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;

  align-items: left;
}



/*Dishes*/
.our-dishes {
  background-color: var(--bg-section);
  padding: 0;
}

.dish1 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)), url(img/main-course.jpg);

  min-height: 200px;
  flex-basis: 65%;

}


.dish2 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)), url(img/soup.jpg);

}

.dish3 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)), url(img/starter.jpg);

}

.dish4 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)), url(img/dessert.jpg);

}

.dish5 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)), url(img/shrimps.jpg);

}

.dish2,
.dish3,
.dish4,
.dish5 {
  min-height: 120px;
}

.dish1,
.dish2,
.dish3,
.dish4,
.dish5 {
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bg-color);
  border: 0.5px solid var(--terciary-color);
  margin: 0;
}


.dishes {
  display: flex;
  flex-direction: column;

}

.dishes-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}

.small-dishes {
  display: flex;
  flex-wrap: wrap;

}

.small {
  min-height: 150px;
  padding: 20px;
  flex-basis: 100%;
}


/*Footer*/
footer {
  background-color: var(--bg-footer);
  color: var(--terciary-color);
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
 box-shadow:2px -8px 100px 3px var(--terciary-color);
}


@media screen and (min-width: 480px) {
  .logo img {
    width: 70px;
    height: 70px;
  }

  .menu {
    display: block;
  }

  .dish1 .name {
    font-size: 3rem;
  }

  .small .name {
    font-size: 1.375rem;
  }

  .dish1 {
    min-height: 250px;
    padding: 20px;
  }

  .small {
    min-height: 180px;
    padding: 20px;
    flex-basis: 50%;
  }

  .dishes-list {
    display: flex;
    flex-direction: column;
  }

  .small-dishes {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 860px) {
  .logo img {
    width: 100px;
    height: 100px;
  }


  .dish1 .name {
    font-size: 3rem;
    ;
  }

  .small .name {
    font-size: 1.75rem;
  }

  .dish1 {
    min-height: 550px;
    padding: 20px;
  }

  .small {
    min-height: 230px;
    padding: 20px;
    flex-basis: 50%;
  }

  .dishes-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .small-dishes {
    display: flex;
    flex-wrap: wrap;
  }

  .our-dishes {
    padding: 20px 80px 80px 80px;
  }
}
